<h2 class="header center orange-text">An Announcement From GADA</h2>

<div class="container">
  <% if @announcements.blank? %>
    <h4 class="header light center">We have nothing to share right now. Come back again soon to stay up to date on GADA announcements.</h4>
  <% end %>

  <% @announcements&.each do |announcement| %>
    <div class="form-container z-depth-3">
      <% if user_signed_in? %>
        <div class="right">
          <%= link_to("/announcements/#{announcement.id}/edit") do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to("/announcements/#{announcement.id}", method: :delete, data: {confirm: "Are you sure you want to delete this announcement?"}) do %>
            <i class="material-icons deep-orange-text">delete</i>
          <% end %>
        </div>
      <% end %>
      <h4 class="header teal-text"><%= announcement.title %></h4>
      <h5 class="header light"><%= sanitize simple_format(announcement.content), tags: %w(strong em a img li ul ol p span br), attributes: %w(href src style target class) %></h5>
    </div>
    <br>
  <% end %>
</div>
