<div id="social-feed">
  <div class="social-feed-container center">
    <div class="fb-page row-item" data-href="https://www.facebook.com/eatrightatl" data-tabs="timeline" data-small-header="false" data-width="500" data-height="800" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/eatrightatl" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/eatrightatl">GADA (Greater Atlanta Dietetic Association)</a></blockquote>
  </div>
</div>
