<h3>Admin Menu</h3>
<nav>
  <a>Add new members</a>
  <a>Update member information</a>
  <a>Add new blog post</a>
  <a>Update existing blog posts</a>
  <a>Add new calendar event</a>
  <a>Update existing calendar events</a>
</nav>

