<div class="container center">
  <h3 class="header center light orange-text">Edit Event</h3>
  <%= render partial: 'form' %>
</div>

<script>
$(document).ready(function() {
  $('.form-label').addClass('active');
});
</script>

