<h2 class="header center orange-text">Upcoming GADA Events</h2>

<div class="container">
  <% @upcoming_events.each do |event| %>
    <div class="form-container z-depth-3">
      <h4 class="header light"><%= event.title %></h4>
      <h5><%= event.date.strftime("%D") %></h5>
      <h6><%= event.description %></h6>
      <h6><%= link_to event.link_text, event.link %></h6>
    </div>
    <br>
  <% end %>
</div>
