<div class='box container'>
  <h2 class='header center orange-text'>OOPS</h2>
  <br><br>
  <h4 class='header center light'>Something went wrong or the page you were looking for does not exist.</h4>
  <br><br>
  <h5 class='center header'>Choose another page from the navigation above or go <%= link_to "back to home", root_path%>.</h5>
  <h5 class='center header'>If this keeps happening, <%= link_to "email us", "mailto:gadainfo@eatrightatlanta.org"%>.</h5>
</div>
