// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    #blog-page-main {
      padding-left: 250px;
    }

    #slide-out{
      z-index: 1000;
      padding-top: 150px;
      padding-bottom: 140px;
    }

    #blog-side-nav-expand-button{
      display: none;
    }

    .side-nav-li{
      .blog-archive-nav-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }


    #blog-page-main{
      z-index: -1;
    }

    .narrow-header-nav{
      margin-left: 300px;
      width: calc(100vw - 300px);
      width: -webkit-calc(100vw - 300px);
      width: -moz-calc(100vw - 300px);
    }

    .narrow-page-footer{
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      #blog-page-main {
        padding-left: 0;
      }
      #blog-side-nav-expand-button{
        display: inline-block;
      }
      .narrow-header-nav{
        margin-left: 0;
        width: 100%;
      }
      .narrow-page-footer{
        padding-left: 0;
      }
    }


