// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    #blog-page-main {
      padding-left: 250px;
      z-index: -1;

      .trix-content {
        ul > li {
          list-style-type: disc;
        }
      }
    }

    #slide-out{
      z-index: 1000;
      padding-top: 20px;
      padding-bottom: 140px;
    }

    #blog-side-nav-expand-button{
      display: none;
    }

    .side-nav-li{
      .blog-archive-nav-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    .narrow-header-nav{
      margin-left: 300px;
      width: calc(100vw - 300px);
      width: -webkit-calc(100vw - 300px);
      width: -moz-calc(100vw - 300px);
    }

    .narrow-page-footer{
      padding-left: 300px;
    }

    .edit-blog, .new-blog {
      .form_button_container {
        padding-top: 30px;
      }

      .trix-button-row {
        button.trix-button--icon-attach {
          display: none;
        }
      }

      #blog_body > ul > li {
        list-style-type: disc;
      }
    }

    @media only screen and (max-width : 992px) {
      #blog-page-main {
        padding-left: 0;
      }
      #blog-side-nav-expand-button{
        display: inline-block;
      }
      .narrow-header-nav{
        margin-left: 0;
        width: 100%;
      }
      .narrow-page-footer{
        padding-left: 0;
      }
    }


