// Place all the styles related to the BoardMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cards-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#board_member_card{
  padding: 0;
  margin: 20px;
  width: 340px;
}

.board-member-name{
  font-size: 20px;
}
