// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.members-index-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.members-index-td, .members-index-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.members-index-tr:nth-child(even) {
    background-color: #dddddd;
}

.edit-member-column, .table-icons-column{
  background-color: white;
  border-color: white;
}
