// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#membership-type-select{
  display: block;
  width: 400px;
  background-color: Gainsboro;
}
